setuptools
extensions

##### Interactive #####
ipython
ipykernel

##### Documentation #####
sphinx-rtd-theme
sphinx
myst-parser
recommonmark
nbsphinx
pandocfilters  # Optional but helps with filtering content


numpy==1.23.5
scipy==1.15.2
scikit-image
torch==2.5.1
torchaudio==2.5.1
soundfile
pytorch_lightning==2.5.1
matplotlib==3.10.1
Pillow==11.1.0
torchvision
DCLS==0.1.1
einops==0.8.1
h5py
tables
pandas
wandb
tqdm
pykeops
